<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spotify Comment</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>


<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Spoity Comments</a>
      </h1>
       <nav>
         {{#if loggedIn}}
         <a href="/Post" class="post-btn-style">Add Post</a>
         <a href="/profile">Profile</a>
        <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
        </nav>
    </header>
    <main style="display: flex; place-content: space-evenly">
      {{{ body }}}
    </main>
    <footer>
      We are excited for your return!
    </footer>
  </div>
  {{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
</body>

</html>