<form class="add-post">
<div style="display: contents;">
  <h1>Add A Post!</h1>

    <label for="title">Epidsode Title</label>
      <input type="text" id="epsisode-title" name="episode-name"/>
    <label for="url">Episode Src</label>
        <input type="text" id="episode-src" name="episode-name"/>
    <div>
    <button type="submit">Post</button>
  </div>
  </form>
</div>
<script src="/javascript/post.js"></script>
